In [7]:
import pandas as pd

In [16]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv
a = pd.read_csv('STOCK_DAY_0050_202009.csv',usecols=['open','close'])
b = pd.read_csv('STOCK_DAY_0050_202010.csv',usecols=['open','close'])
a_index =a.set_index('open','close')
a_index.index

Float64Index([102.45, 103.65,  103.7,  102.0, 102.55, 102.75, 101.75,  102.8,
               103.2,  103.5, 104.45, 106.55, 106.05,  105.4,  105.2,  104.3,
               103.5, 101.55, 100.75, 101.35, 102.75, 102.75],
             dtype='float64', name='open')

In [18]:
b_index =b.set_index('open','close')
b_index.index

Float64Index([103.45,  104.0,  104.0, 105.45,  106.7, 107.35, 107.05,  106.5,
               105.7, 105.65,  106.4,  106.0,  105.7,  106.5,  106.1, 105.75,
               105.5,  104.0, 103.55],
             dtype='float64', name='open')

In [21]:
#串聯
copya_open = a.copy()
copya_open['open_round'] = round(copya_open['open'])
copya_open

      open   close  open_round
0   102.45  103.35       102.0
1   103.65  103.00       104.0
2   103.70  103.30       104.0
3   102.00  102.55       102.0
4   102.55  102.40       103.0
5   102.75  103.00       103.0
6   101.75  102.30       102.0
7   102.80  103.20       103.0
8   103.20  103.25       103.0
9   103.50  104.55       104.0
10  104.45  104.95       104.0
11  106.55  106.55       107.0
12  106.05  105.40       106.0
13  105.40  105.30       105.0
14  105.20  104.45       105.0
15  104.30  103.10       104.0
16  103.50  102.95       104.0
17  101.55  100.45       102.0
18  100.75  100.65       101.0
19  101.35  102.30       101.0
20  102.75  102.55       103.0
21  102.75  103.00       103.0

In [23]:
copyb_open = b.copy()
copyb_open.insert(1,'open_round',round(copyb['open']))
copyb_open

      open  open_round   close
0   103.45       103.0  103.05
1   104.00       104.0  104.25
2   104.00       104.0  104.80
3   105.45       105.0  106.20
4   106.70       107.0  107.05
5   107.35       107.0  107.10
6   107.05       107.0  106.70
7   106.50       106.0  105.70
8   105.70       106.0  105.25
9   105.65       106.0  106.60
10  106.40       106.0  106.00
11  106.00       106.0  105.95
12  105.70       106.0  106.10
13  106.50       106.0  106.10
14  106.10       106.0  106.10
15  105.75       106.0  105.50
16  105.50       106.0  105.00
17  104.00       104.0  103.85
18  103.55       104.0  103.00

In [ ]:
copyb = copyb_open.copy()
copyb.insert(1,'open_round',round(copyb['close']))
copyb_open